/smartstablemodel/
__pycache__/
*.pyc
/label-studio/audio/
/label-studio/video/
/label-studio/data/
.env
.venv
*.keras

/tools/model_metrics/visualizations/
/ml_backend/__pycache__/

smart-stable-logs/
.DS_Store
/data
.pytest_cache/
mlflow.db
